* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.clear {
  clear: both;
}


/* header */

.header {
  padding-left: 80px;
  background: #f8e1db;
}
.logo {
  padding-top: 20px;
}
.logo img {
  width: 50px;
}
.header a {
  color: black;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
}
.menu {
  padding-bottom: 20px;
  margin-top: 20px;
}


/* carousel */

.carousel {
  height: 60vh;
  min-height: 500px;
  background: url(./Image/BG.png);
  background-size: cover;
  background-position: center;
}


/* activities */

.activities {
  background: #faf5f1;
  text-align: center;
}
.activity_icon {
  padding: 80px 0 20px;
}
h2 {
  color: rgb(150, 148, 148);
}
.item {
  height: 450px;
  width: 25%;
  border-radius: 16px;
  padding: 20px;
  float: left;
}
.item .container {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  height: 100%;
}
.item__img {
  position: relative;
}
.item__img img {
  border-radius: 16px;
  width: 100%;
}
.item .heart {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 15px;
  line-height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.item i {
  color: rgb(240, 81, 115);
}
.item h3 {
  padding: 12px 0 20px 0;
  font-family: "Times New Roman";
  font-size: 20px;
}
.item p {
  font-family: "Times New Roman";
  font-size: 14px;
  color: gray;
  line-height: 24px;
}
.item button {
  padding: 10px 50px;
  margin-top: 30px;
  border-radius: 20px;
  color: gray;
  border: none;
}
.view_all button {
  padding: 10px 60px;
  margin-top: 10px;
  border-radius: 20px;
  color: red;
  border: 1px solid red;
  background-color: rgba(255, 255, 255, 0);
}
.content_list {
  padding-bottom: 80px;
}


/* contact */

.contact {
  background: #faf5f1;
  padding-bottom: 80px;
}
.contact_box {
  height: 400px;
  background: #f8e1db;
  border-radius: 16px;
}
.contact_img,
.contact_info {
  width: 50%;
  height: 100%;
  float: left;
}
.tent0,
.tent {
  width: 100%;
  height: 100%;
}
.contact .tent0 {
  position: relative;
  left: -50%;
}
.tent0 img {
  width: 200%;
  height: 100%;
}
.tent {
  position: absolute;
  left: 55%;
  top: 5%;
}
.tent img {
  width: 70%;
  height: 90%;
}
.contact_info {
  padding: 70px 60px 0 0;
}
.contact_info h4 {
  font-family: "Times New Roman";
  font-size: 30px;
  color: rgba(128, 128, 128, 0.877);
}
.contact_info p {
  font-family: "Times New Roman";
  font-size: 16px;
  color: rgba(128, 128, 128, 0.849);
  padding: 15px 0;
}
.download,
.follow {
  width: 50%;
  float: left;
}
.download h5 {
  color: rgba(128, 128, 128, 0.897);
  font-size: 20px;
  padding: 15px 0;
}
.follow h5 {
  color: rgba(128, 128, 128, 0.897);
  font-size: 20px;
  padding: 15px 0;
}
.follow .snsicon {
  color: rgb(233, 117, 40);
}
.follow .snsicon i {
  font-size: 24px;
  margin-right: 10px;
}


/* footer */

.footer {
  background: #faf5f1;
}
.footer_box {
  height: 380px;
  background: #f8e1db;
  border-radius: 100px 100px 0 0;
  padding: 80px 0 0 50px;
}
.footer_info .hipcamp {
  width: 40%;
  float: left;
  padding-right: 30px;
}
.help,
.plan,
.help2 {
  width: 20%;
  float: left;
}
.hipcamp span {
  font-family: "Times New Roman";
  line-height: 25px;
}
.footer_info p {
  font-size: 18px;
  font-weight: 800;
  font-family: "Times New Roman";
  padding-bottom: 20px;
}
.footer_info a {
  font-size: 13px;
  font-weight: 550;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman";
  line-height: 25px;
}
.footer_cr {
  text-align: center;
  margin-top: 40px;
}
.footer_cr span {
  font-family: "Times New Roman";
}
