* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;

}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.header__container {
  /* margin: 0 auto; */
  height: 100%;
  width: 95%;
  max-width: 1200px;
  /* border: 1px solid red; */
  padding: 10px;
  display: flex;
  /* justify-content: trục chính */
  justify-content: space-between;
  /* chuyển đổi hướng của trục chính */
  flex-direction: row;
  /* align-items: trục phụ */
  align-items: center;
}
/* flex: trục chính là chiều ngang, dùng cha di chuyển con */
.header__container p {
  /* border: 2px solid green; */
  height: 20px;
  font-size: 30px;
  font-weight: 400;
}
.header__container ul {
  display: flex;
  list-style: none;
}
.header__container ul li {
  margin-left: 20px;
}
.header__container ul a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.3s;
}
.header__container ul a:hover {
  color: red;
}

/* carousel */

.carousel {
  background: url(./image-video/home_slider.jpg);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__content {
  width: 50%;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.carousel__content p {
  font-size: 30px;
}
.carousel__content h2 {
  font-size: 50px;
}
.carousel__content button {
  padding: 15px 25px;
  background-color: rgb(223, 9, 9);
  border: none;
  color: white;
}

.carousel__content i{
  margin-top: 20px;
  font-size: 30px;
  animation-name: arrowanimate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* service */

.service {
  background: black;
  padding: 80px 0;
}

.service__carousel {
  border: 1px solid yellow;
}
.service__item {
  color: gray;
  height: 200px;
  padding: 15px;
}
.service__item .item_content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
  height: 100%;
  background: white;
  position: relative;
}

.service__item .item_content::after {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80%;
  content: "";
  width: 0;
  background: red;
  transition: 0.5s;
}
.service__item .item_content:hover::after {
  width: 5px;
}

.slick-dots li button:before {
  color: white;
  opacity: 0.5;
  font-size: 20px;
  position: absolute;
  top: 20px;
}
.slick-dots li.slick-active button:before {
  color: rgb(207, 12, 12);
  opacity: 1;
}

/* start showcase */

.showcase {
  padding: 80px 0;
}

.showcase_list {
  width: 100%;
  aspect-ratio: 1/1;
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.showcase_item .item_overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}
.showcase_item .item_overlay:hover{
  opacity: 1;
}

.showcase_item .item_overlay .search{
  width: 50px;
  height: 50px;
  background: black;
  color: white;
  text-align: center;
  line-height: 50px;
  position: absolute;
  right: 15px;
  top: 30px;
  transition: 0.5s;
}
.showcase_item .item_overlay:hover .search{
  top: 15px;

}

.showcase_item .item_overlay .overlay_tilte{
  position: absolute;
  left: 15px;
  bottom: -55px;
  transition: 0.8s;
}
.showcase_item .item_overlay:hover .overlay_tilte{
  bottom: 55px;
  left: 55px;

}



.showcase_item {
  /* height: 200px; */
  /* background: red; */
  border: 3px solid black;
}
.showcase_item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.showcase_item-8 {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}


/* start number */

.number{
  padding: 80px 0;
  background: black;
  color: white;
  text-align: center;
  font-size: 28px;
}
.number_list{
  display: flex;
  justify-content: space-evenly;
}


/* start contact */

.contact{
  padding: 80px 0;
}
.contact_content{
  display: flex;
  height: 500px;
  width: 100%;
}
.contact_map{
  width: 60%;
  height: 100%;
  flex-shrink: 0;
}
.contact_form{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}
.contact_form *{
  width: 100%;
  padding: 15px;
}
.contact_form textarea{
  height: 45%;
}
.contact_form button{
  background: #000;
  color: white;
  transition: 0.3s;
}
.contact_form button:hover{
  background: red;
  cursor: pointer;
}



.back_to_top{
  width: 50px;
  height: 50px;
  background: #000;
  color: white;
  text-align: center;
  line-height: 50px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  /* scroll-behavior: smooth; */
}


/* anime */

.demo_animate{
  height: 500px;
  background: #000;
}
.child{
  height: 200px;
  width: 200px;
  border-radius: 1px 50%;
  animation-name: animate2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes animate1{
  
  
  from{
    background: red;
  }
  to{
    background: blue;
  }
}

@keyframes animate2{
  0%{
    background: red;
  }
  20%{
    background: yellow;
  }
  40%{
    background: green;
  }
  60%{
    transform: translate(0);

    background: white;
  }
  80%{
    background: blue;
  }
  100%{
    transform: translateX(200%) translateY(150%) scale(0.5) rotate(360deg) ;
    background: purple;
  }
}


@keyframes arrowanimate{
  from{
    opacity: 1;
    transform: translateY(0px);
  }
  to{
    opacity: 0;
    transform: translateY(100px);
  }
}




footer{
  padding: 300px;
}