* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}
html{
  width: 1400px;
  margin: auto;
}
.clear {
  clear: both;
}


/* header */

.header {
  width: 80%;
  margin: auto;
  padding: 20px 0;
}
.logo span {
  font-size: 30px;
  font-weight: 900;
  margin-left: 10px;
}
.logo i {
  background: black;
  font-size: 16px;
  padding: 12px;
  color: #fdc800;
  border-radius: 50%;
}
.nav {
  margin: 20px 0 0 20px;
}
.nav a {
  text-decoration: none;
  color: black;
  margin-right: 40px;
}

/* header img */

.header_img {
  background: url(./images/2.jpg);
  background-position: initial;
  height: 600px;
  background-size: cover;
}


/* welcome */

.welcome {
  padding: 60px 0;
  width: 80%;
  margin: auto;
}
.welcome_message,
.welcome_img {
  width: 50%;
  float: left;
}
.welcome_message h1 {
  font-size: 36px;
}
.welcome_message p {
  padding: 30px 50px 30px 0;
  line-height: 25px;
}
.welcome_message button {
  background: #fdc800;
  border-radius: 4px;
  padding: 14px 34px;
  font-weight: 900;
  border: none;
}
.welcome_img img {
  width: 100%;
  border-radius: 0 4px 4px 0;
}


/* statistic */

.statistic {
  background-color: #f6f6f6;
}
.statistic_box {
  padding: 60px 0;
  width: 80%;
  margin: auto;
}
.statistic .detail {
  float: left;
  width: 25%;
}
.statistic .detail h2 {
  font-size: 50px;
  float: left;
  margin-right: 14px;
}
.statistic .detail p {
  font-size: 20px;
  padding-top: 6px;
  float: left;
}


/* subject */

.subject {
  padding: 100px 0;
  width: 82.5%;
  margin: auto;
}
.subject_list {
  width: 25%;
  text-align: center;
  padding: 15px;
  float: left;
}
.subject_name {
  padding: 30px 60px;
  background: #002146;
  color: white;
  border-radius: 4px;
}
.subject_name i {
  font-size: 40px;
  padding: 15px;
}


/* news */

.news {
  background: #f6f6f6;
}
.news_box {
  padding: 100px 0;
  width: 80%;
  margin: auto;
}
.news_box h3 {
  font-size: 36px;
  margin-bottom: 60px;
}
.post_box,
.event_box {
  width: 50%;
  float: left;
}
.post_box {
  padding-right: 15px;
}
.post_detail {
  margin-bottom: 20px;
}
.post_background {
  background-color: white;
  padding: 0 25px;
}
.post_img,
.post_info {
  float: left;
}
.post_info {
  width: 60%;
}
.post_img {
  width: 40%;
  padding: 25px 25px 25px 0;
}
.post_img img {
  width: 100%;
  border-radius: 4px;
}
.post_info h4 {
  padding-top: 20px;
  font-size: 20px;
}
.post_info p {
  color: rgb(156, 154, 154);
  padding: 10px 0 15px 0;
}
.post_info span {
  line-height: 25px;
  color: rgb(92, 91, 91);
}
hr {
  border: 1px solid rgba(228, 228, 228, 0.452);
}
.event_box {
  padding-left: 50px;
}
.event_detail {
  background-color: #ffffff;
  margin-bottom: 20px;
}
.event_date,
.event_info {
  float: left;
}
.event_date {
  width: 30%;
  padding: 25px;
  text-align: center;
}
.event_date .event_day {
  background-color: #fdc800;
  padding: 20px 0 10px;
  border-radius: 4px 4px 0 0;
}
.event_day p {
  line-height: 20px;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}
.event_year {
  background-color: #002146;
  color: white;
  padding: 10px;
  border-radius: 0 0 4px 4px;
}
.event_info {
  width: 70%;
  padding: 25px 25px 25px 0;
}
.event_info h4 {
  padding-bottom: 20px;
  font-size: 20px;
}
.event_info p {
  line-height: 25px;
  padding-bottom: 15px;
  color: rgb(92, 91, 91);
}
.event_info span,
.event_info b {
  color: #002146;
  font-weight: 500;
}
.event_info span {
  padding: 6px 20px 6px 0;
  margin-right: -4px;
  border-right: 2px solid rgb(204, 203, 203);
}
.event_info b {
  padding: 0 0 0 20px;
}
.news .button {
  text-align: right;
}
.news button {
  background: #fdc800;
  border-radius: 4px;
  padding: 14px 34px;
  font-weight: 900;
  border: none;
}


/* footer */

.footer {
  background-color: #002146;
}
.footer_box {
  width: 80%;
  margin: auto;
  color: white;
  padding: 60px 0;
}
.footer .contact,
.featured,
.quick_link {
  width: 33%;
  float: left;
}
.footer .featured,
.quick_link {
  padding-left: 20px;
}
.footer i {
  font-size: 14px;
  padding: 10px 10px 10px 0;
  color: #fdc800;
}
.footer .contact .fa-map-marker-alt {
  padding-right: 14px;
}
.footer a {
  text-decoration: none;
  color: white;
  line-height: 35px;
}
.footer h5 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
.footer .contact .phone {
  line-height: 50px;
}
.footer h6 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
}
.footer h6 a {
  color: rgb(192, 192, 192);
}
