/* header *, */
/* .about_us *, */
/* .we_best *, */
/* .what_new * {
  outline: 1px solid blue;
} */
.position-relative {
  position: relative;
}
.banner_info h3, 
.what_new h3, .what_new h4, .what_new h5,
.banner_info p,
.search_input, .about_content,
.we_best_info {
  font-family: Quicksand;
}
.about_content h3,
.we_best_info h3, .what_new h3{
  font-size: 38px;
}
.about_content h6,
.we_best_info h6, .what_new h6{
  color: #ff6600;
  font-family: pacifico;
  font-size: 20px;
}


/* header */

.logo_brand h1{
  font-size: 36px;
}
.search i {
  position: absolute;
  right: 18px;
  top: 14px;
  color: rgba(22, 28, 45, 0.7);
}
#switchTheme{
  font-size: 25px;
}
#switchTheme .fa-sun{
  display: none;
}
.nav_button {
  font-size: 30px;
}
.banner_V {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(./img_Viet/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.banner_info button {
  border: 2px solid white;
  transition: 0.5s;
}
.banner_info button:hover {
  color: #ff6600;
}

.overlay_menu {
  visibility: hidden;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
	background: rgb(6 3 0 / 77%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.4s;
  transform: scale(0.8);
}
.overlay_menu ul{
  list-style: none;  
}
.overlay_menu a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  transition: 0.3s;
}
.overlay_menu a:hover{
  color: #ff6600;
}
.overlay_menu button{
  position: fixed;
  top: 40px;
  right: 40px;
  background: #ff6600;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 15%;
}
.open .overlay_menu{
  visibility: visible;
  transform: scale(1);
}


/* About Us */

.about_content p{
  color: rgba(22, 28, 45, 0.7);
  font-size: 18px;
}


/* We Best */

.we_best{
  background: #ff6600;
}
.we_best .left_content{
  width: 100%;
  height: 100%;
}
.we_best_img{
  background: url(./img_Viet/banner3.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
.we_best_img::before {
  content: "";
  background: rgba(16, 15, 19, 0.46);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}
.we_best i{
  color: #ff6600;
  font-size: 25px;
  padding: 22px;
  background: white;
  border-radius: 10%;
  transition: 0.5s;
}
.stuff_box:hover i{
  color: #f3c20f;
}
.we_best a{
  font-size: 20px;
  font-family: Arial;
  color: #232121;
}
.we_best p{
  font-size: 18px;
  color: #ffdfc9;
}


/* What New */

.what_new{
  background: #f7f7f7;
}
.what_new_category h5{
  color: #ffc600;
  font-size: 18px;
}
.what_new_img{
  position: relative;
  overflow: hidden;
}
.what_new_img::before {
  content: "";  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f723;
  opacity: 0;
  cursor: pointer;
  transition-duration: 0.4s;
}
.what_new_img:hover::before {
  opacity: 1;
}
.what_new_img::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}
.what_new_info{
  position: absolute;
  bottom: 15px;
  left: 15px;
}





/* responsive */
@media (max-width: 1190px) {
  .banner_info h3 {
    font-size: 48px;
  }
  .about_content h3, .we_best h3, .what_new h3{
    font-size: 34px;
  }

}
@media (max-width: 992px) {
  .banner_info h3 {
    font-size: 44px;
  }
  .about_content h3, .we_best h3, .what_new h3{
    font-size: 30px;
  }
  .we_best_img{
    min-height: 200px;
  }
  .we_best h3{
    font-size: 34px;
  }
  .what_new h4{
    font-size: 22px;
  }
}
@media (max-width: 720px) {
  .banner_info h3 {
    font-size: 40px;
  }
  .banner_V {
    min-height: 600px;
  }
  .about_content h3, .we_best h3, .what_new h3{
    font-size: 26px;
  }
  .about_content p, .we_best p{
    font-size: 16px;
  }
  .we_best h6, .we_best a{
    font-size: 18px;
  }
  .what_new h4{
    font-size: 20px;
  }
  .what_new h5{
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .banner_info h3 {
    font-size: 28px;
  }
  .banner_info {
    max-width: 500px;
  }
  .banner_V {
    min-height: 450px;
  }
  .about_content h3, .we_best h3, .what_new h3{
    font-size: 22px;
  }
  .what_new h4{
    font-size: 18px;
  }
}


/* Dark Theme */

.dark #switchTheme .fa-sun{
  display: block;
}
.dark #switchTheme .fa-moon{
  display: none;
}

.dark .search_input {
  background-color: #232220;
  color: white;
}
.dark .search_icon .fa-search{
  color: #eeeeee;
}

.dark .about_us, .dark .what_new{
  background-color: #232220;
}
.dark .about_us h3, .dark .what_new h3, .dark .we_best h3, .dark .we_best a{
  color: #eeeeee;
}
.dark .about_us .right_content p{
  color: #c2d0da;
}

.dark .what_new_img::before {
  background-color: #23222031;
}
