*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* start header */
.header{
    background-color: violet;
    padding: 20px 80px 20px 80px;
}

.header .logo{width: 50px;
margin-bottom: 20px;}

.header .menu li{
    display: inline;
    /* margin: 0 20px; */
    margin-right: 20px;
}

.header .menu a{
    color: black;
    text-decoration: none;
}
/* end header */

/* start carousel */

.carousel{
    background-image: url(./Image/BG.png);
    height: 60vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

/* end carousel */

/* start activities */

.activity {
    background: rebeccapurple;
    padding: 80px 0px;
    text-align: center;
}

.content_item {
    height: 400px;
    width: 280px;
    background: white;
    border: 1px solid red;
    padding: 50px;
    border-radius: 16px;
}

.activities__content .content_item img {
    width: 100%;
    border-radius: 16px;
}

.activities__content .content_item img {
color: red;
}

/* end activities */


