/* Light theme */
#myBody{
    background-color:black;
  }
  #switchButton {
    background-color: white;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: inline-block;
  }

  .fa-sun-o{
    display: inline-block;
  }
  .fa-moon {
    display: none;
  }
  

  /* Dark Theme*/
  .dark#myBody{
    background-color:white;
  }
  .dark #switchButton {
    background-color: black;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: white;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  .dark .card {
    background-color: black;
    color: white;
  }
  


 .dark .fa-sun-o{
    display: none;
  }
  .dark .fa-moon {
    display: inline-block;
  }