/* quan trọng */
/*--/banner-section-*/
.w3_hny_header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}

.w3menu-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.w3menu-right-content .search-bar {
  display: flex;
  flex: 1;
  margin: 0 auto;
}

.w3menu-right-content .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: var(--font-color);
  border: none;
  font-weight: 400;
  border-radius: var(--border-radius);
  position: relative;
  right: 0;
  background: var(--bg-color);
  outline: 0;
  border: 1px solid var(--bg-color);
}

.w3menu-right-content .search-bar .search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

h1 a.logo-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.w3lhny-banner {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(img/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.w3lhny-banner .bannerhny-info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.w3lhny-banner .bannerhny-info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.w3lhny-banner .bannerhny-info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
@media (max-width: 1190px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 992px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width: 800px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .w3lhny-banner {
    min-height: 600px;
    margin-top: 60px;
  }
}
@media (max-width: 480px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .w3lhny-banner .bannerhny-info {
    max-width: 500px;
    margin-top: 30px;
  }
  .w3lhny-banner {
    min-height: 450px;
  }
}
/*--//banner-section--*/
/* quan trọng */

/* quan trọng */
.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: var(--bg-light);
  line-height: 70px;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}

.box-wrap:hover .icon {
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
}

.box-wrap:hover .icon span.fa {
  color: #fff;
  transition: 0.3s ease-in-out;
}

.icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}
.subscribe-cat-gd .icon {
  background: #fff;
}

.subscribe-cat-gd:hover .icon span.fa {
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

@media (max-width: 1080px) {
  .box-wrap h5 {
    font-size: 17px;
  }

  .box-wrap h4 a {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  .box-wrap {
    padding: 30px 30px;
  }
}
/*--//home-services--*/
/* quan trọng */


/* We Best */
/*--/w3l-agent-block--*/
.w3l-agent-block {
  background: var(--primary-color);
}

.agent-block-image {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}

.agent-block-image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.w3l-agent-block p {
  color: #ffdfc9;
}

.subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.subscribe-cat .subscribe-cat-link {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}

.subscribe-cat .subscribe-cat-link:hover {
  opacity: 0.9;
}

.subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}

@media all and (max-width:992px) {
  .subscribe-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 20px 10px;
  }

  .subscribe-cat .subscribe-cat-link {
    font-size: 18px;
  }
  .agent-block-image {

      min-height: 200px;
  }
}

/*--//w3l-agent-block--*/


/* What's New */
/*-- /w3l-res-categories--*/
.w3l-res-categories {
  background: var(--bg-grey);
}

.ww3l-res-categories .gal-slide-grid {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 32px;
}

.w3l-res-categories .gal-slide-img {
  position: relative;
}

.w3l-res-categories .gal-slide-img:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.w3l-res-categories .gal-slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.w3l-res-categories .gal-slide-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}

.w3l-res-categories .gal-slide-info h4 {
  font-size: 18px;
  color: #fff;
}

.w3l-res-categories .gal-slide-grid .gal-slide-img:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.w3l-res-categories.gal-slide-grid .gal-slide-info {
  transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -10%, 0);
}

.w3l-res-categories img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

.w3l-res-categories .gal-slide-grid .gal-slide-info {
  opacity: 1;
  transition: all 0.4s;
}

.w3l-res-categories .content-left-sec a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.w3l-res-categories .content-left-sec a:hover {
  text-decoration: none;
}

.w3l-res-categories .content-left-sec a:hover {
  color: #4f9da6;
}

.w3l-res-categories .content-left-sec h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}

.w3l-res-categories .gal-slide-info span {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}
@media all and (max-width:800px) {
  .w3l-res-categories .content-left-sec a h4 {
    font-size: 18px;
    line-height:28px;
  }
  .w3l-res-categories .gal-slide-info span {
      font-size: 16px;
  }
}
/*-- //w3l-res-categories--*/



/* overlay menu */
/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(6 3 0 / 77%);
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
}

button#trigger-overlay {
	outline: none;
	border: none;
	background: none;
	text-align: center;
	color: #fbfdfb;
	font-size: 1.95em;
	padding: 0 8px;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
.overlay ul li {
	display: block;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    line-height:3em;
}
.overlay ul li a {
	font-size: 20px;
	font-weight: 600;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color:var(--primary-color);
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}

	.overlay ul li {
		min-height: 34px;
	}
}
@media (max-width:767px) {
	.overlay ul li a {
		font-size: 16px;
	}
	.overlay ul li {
		line-height: 2.5em;
	}
}
@media (max-width:600px) {
	.overlay ul li a {
		font-size: 16px;
	}
	.overlay ul li {
		line-height: 2.2em;
	}
}