* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
html{
  max-width: 1300px;
  margin: auto;
}
.container {
  width: 80%;
  margin: 0 auto;
}


/* header */

.header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(128, 128, 128, 0);
  padding: 26px 20px;
  color: white;
}
.header .logo span{
  font-size: 32px;
  font-weight: 900;
}
.header .logo i{
  font-size: 32px;
}
.header .logo a{
  text-decoration: none;
  color: white;
}
.header .nav a {
  text-decoration: none;
  padding: 0 26px;
  font-size: 17px;
  color: white;
  transition: 0.5s;
}
.header .nav a:hover {
  color: #e62b4a;
}
.header .nav :first-child {
  color: #e62b4a;
}


/* welcome */

.welcome{
  background: url(./image-video/home_slider.jpg);
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome_info{
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.welcome_info p{
  font-size: 25px;
}
.welcome_info h1{
  font-size: 75px;
  line-height: 90px;
}
.welcome_info button{
    padding: 15px 25px;
  background-color: #e62b4a;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Roboto";
}
.welcome_info button:hover{
  background-color: #af2239;
}
.welcome_info i{
  font-size: 30px;
  margin-top: 50px;
  animation-name: godown; 
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes godown{
  from{
    opacity: 1;
    transform: translateY(0px);
  }
  to{
    opacity: 0;
    transform: translateY(40px) ;
  }
}


/* service */

.service {
  background: #000;
  padding: 90px 0;
}
.service_info, .experience_info , .blog_info, .contact_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service_info{
  letter-spacing: 1px;
}
.service_info p, .experience_info p, .blog_info p{
  color: #e62b4a;
  font-size: 14px;
  font-weight: 300;
}
.service_info h2, .experience_info h2, .blog_info h2, .contact_info h2{
  color: white;
  font-size: 50px;
  font-weight: 400;
}
.service_info span, .experience_info span, .blog_info span, .contact_info span{
  font-size: 16px;
  font-weight: 700;
  color: #888888;
  margin: 20px 0;
}

.service_carousel .service_item {
  padding: 10px;
}
.service_item .item {
  background: white;
  height: 230px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.service_item .item i{
  font-size: 50px;
}
.service_item .item::before {
  content: "";
  width: 5px;
  height: 0;
  background-color: #e62b4a;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.3s;
}
.service_item .item:hover::before {
  height: 100%;
}

.slick-dots li button::before {
  color: rgb(199, 197, 197);
  font-size: 15px;
}
.slick-dots li button:hover::before {
  color: white;
}
.slick-dots li.slick-active button::before {
  color: #e62b4a;
}


/* blog */

.blog {
  padding: 100px 0;
  background-color: #F3F3F3;
}
.blog_info p{
  color: #888888;
  font-weight: 400;
}
.blog_info h2{
  color: #000; 
}
.blog_info span{
  color: #888888;
  margin: 20px 0 50px 0;
}

.blog_showcase {
  width: 100%;
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
}
.showcase_item {
  position: relative;
  width: 100%;
  height: 100%;
}
.item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(230, 43, 74, 0.6);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}
.showcase_item:hover .item_overlay {
  opacity: 1;
}
.item_overlay .search {
  position: absolute;
  top: 50px;
  right: 25px;
  background: white;
  color: #000;
  padding: 8px 12px;
  transition: 1s;
  cursor: pointer;
}
.item_overlay:hover .search {
  top: 25px;
}
.item_overlay .search:hover{
  background: #000;
  color: white;
}
.item_overlay .overlay_title {
  position: absolute;
  left: 25px;
  bottom: 0px;
  color: white;
  transition: 1s;
}
.item_overlay:hover .overlay_title {
  bottom: 25px;
}
.overlay_title b{
  font-weight: 400;
  color: lightgray;
}
.overlay_title p{
  font-weight: 800;
  font-size: 20px;
}
.showcase_item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.showcase_item-10 {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}
.showcase_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
}


/* statistic */

.statistic{
  padding: 100px 0;
  background: black;
  color: white;
  text-align: center;
}
.statistic_list{
  display: flex; 
  justify-content: space-evenly;
}
.statistic_item h2{
  font-size: 60px;
  font-weight: 300;
}
.statistic_item p{
  font-size: 20px;
  color: #888888;
}


/* experience */

.experience{
  background: url(./image-video/bussiness_img_1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.experience_content{
  padding: 100px 0;
}
.experience_info{
  margin-bottom: 10px;
}
.experience video{
  width: 100%;
  height: 100%;  
}


/* contact */

.contact{
  padding: 100px 0;
}
.contact_info h2{
  color: #000;
}
.contact_info span{
  font-weight: 400;
}

.contact_content{
  display: flex;
  height: 470px;
  padding: 10px 40px;
}
.contact_map{
  width: 60%;
  height: 100%;
  flex-shrink: 0;
}
.contact_form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.contact_form *{
  width: 100%;
  padding: 15px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact_form textarea{
  height: 40%;
}
.contact_form button{
  padding: 20px 30px;
  border: none;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
.contact_form button:hover{
  background-color: #e62b4a;
}


/* footer */

.footer{
  background: #000;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  color: white;
}
.footer_content .sns a{
  font-family: "Font Awesome 5 Brands";
  text-decoration: none;
  color: white;
  padding: 20px;  
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin-left: 5px;
  transition: 0.5s;
}
.footer_content .sns a:hover{
  background-color: #e62b4a;
}
.footer_content .copyright{
  font-size: 14px;
}


/* back to top */

.backtotop i{
  padding: 22px 24px;
  border-radius: 4px;
  background: rgba(0,0,0,0.25);
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
 }