.logo {
  width: 100px;
}
h1 {
  background: red;
  color: white;
}
.link {
  font-size: 20px;
}

/* intro */

.intro {
  background-color: #b01e1e;
}
h2 {
  text-align: center;
  color: white;
  font-size: 40px;
}
p {
  color: white;
  font-size: 30px;
}
p i {
  color: black;
}
.intro__img {
  width: 50%;
}

/* develop */

.develop {
  background-color: #b01e1e;
  color: white;
}
h3 {
  text-align: center;
  font-size: 40px;
}
ul {
  font-size: 25px;
}
.develop img {
  width: 50%;
}

/* menu */

h4{
  text-align: center;
  font-size: 30px;
}
table, th, td{
  border: 1px solid black;
}
table{
  width: 66%;
}
th{
  text-align: center;
  padding: 20px 50px;
}
td{
  padding: 20px 50px;
}
.textcenter{
  text-align: center;
}
.textleft{
  text-align: left;
  padding-left: 0;
}
.textright{
  text-align: right;
  padding-right: 0;
}
#a{
  padding-right: 150px;
}

😊