/* header */

header{
position: absolute;
width: 100%;
top: 0;
left: 0;
z-index: 2;
}

header .nav-item.active a{
color: #28a745 !important;
}

/* carousel */

#carousel .carousel-item img{
    height: 100vh;
    object-fit: cover;
}

#carousel .caption_avatar{
    width: 150px;
    height: 150px !important;
    border-radius: 50%;
}

.carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}

.carousel-item::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: rgba(39,43,54,.5);

}

.carousel-indicators li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}


/* project */

#projects .nav{
    justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #28a745;
}
.nav-pills .nav-link{
    color: black;
    border: 1px solid black;
    margin: 0 20px;
}
.project_list{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.project_item{
    height: max-content;
    border-radius: 16px;
}
.project_item .card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 16px;
    overflow: hidden;
    text-align: center;
    border: none;
    cursor: pointer;
}
.project_item .card-body{
    border-top: none;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid transparent;
    transition: 1s;
}

.project_item:hover .card-body{
    border-color: #28a745;
}


/* responsive */

.demo_responsive{
    height: 500px;
    width: 100%;
    background: red;
}


@media screen and (max-width: 992px) {
    .demo_responsive{
        background: green;
    }

    .project_list{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width: 720px) {
    .demo_responsive{
        background: blue;
    }
    .project_list{
        grid-template-columns: 1fr;
    }
}
