* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.clear{
  clear: both;
}

body {
  padding-bottom: 500px;
}
/* start header  */
.header {
  background: #f8e1db;
  padding: 20px 80px 20px 80px;
  /* padding: 100px; */
}
.header .logo {
  width: 50px;
  /* height: 100px;
  object-fit: cover; */

  margin-bottom: 20px;
}
.header .menu li {
  display: inline;
  /* margin: 0 20px; */

  margin-right: 20px;
}

.header .menu a {
  color: black;
  text-decoration: none;
}
/* end header */

/* start carousel */

.carousel {
  background-image: url(./Image/BG.png);
  height: 60vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
}
/* end carousel */

/* start activiteis */

.activities {
  background: #faf5f1;
  padding: 80px 0px;
  text-align: center;
}
.content__item {
  height: 450px;
  width: 25%;
  /* border: 1px solid red; */
  border: none;
  padding: 20px;
  border-radius: 16px;
  float: left;
}
.content__cotainer{
background: white;
padding: 30px;
border-radius: 16px;
width: 100%;
height: 100%;
}

.activities__content .content__item img {
  width: 100%;
  border-radius: 16px;
  /* width: 200px;
  height: 200px;
  border-radius: 50%; */
}
.activities__content .content__item i {
  color: #e76f51;
}
.content__img{
  position: relative;
}
.content__item .content__img .heart{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  line-height: 50px;
  /* recheck line-height knowledge */
border-radius: 8px;
}
.content__detail{
  padding-top: 20px;
}
.content__detail p{
  margin: 20px 0;
}
.content__detail button{
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  background: gray;
}
.content__item{
  float: right;
}



/* end activiteis */
