.container{
    font-size: 50px;
    color: white;
    padding: 50px;
    height: 50px;

}


vr{
    border: 5px solid blue;
    height: 909px;
}


hr{
    border: 5px solid yellow;
}



.child-1{
    height: 100px;
    width: 400px;
    background: red;
    position: absolute;
}



